<h1>Flights#index</h1>
  <div class="container">
    <div class="section">
      <%= render 'search-form' %>
    </div>
    <% if valid_search? %>
      <div class="section">
        <%= render 'search-results' %>
      </div>
    <% end %>
  </div>
<p>Find me in app/views/flights/index.html.erb</p>
