  <div class="container">
    <div class="section">
      <%= render 'search-form' %>
    </div>
    <% unless @queried.nil? || @queried.empty? %>
      <div class="section">
        <%= render 'search-results' %>
      </div>
    <% end %>
  </div>
