<h1>Bookings#new</h1>
  <div class="section">
    <div class="container">
      <%= render 'booking-form', flight: @flight, booking: @booking, count: @count %>
    </div>
  </div>
<p>Find me in app/views/bookings/new.html.erb</p>
