<h2 class="title is-2">Book for <%= @count.size %> passengers!</h2>
  <div class="section">
    <div class="container">
      <%= render 'booking-form', flight: @flight, booking: @booking, count: @count %>
    </div>
  </div>
